In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Files to Load - Population Data
population_2007 = "population data/2007.csv"
population_2008 = "population data/2008.csv"
population_2009 = "population data/2009.csv"
population_2010_2016 = "population data/2010 - 2016.csv"

# Files to Load - Employment Data
employment_hays = "employment data/Hays_County.csv"
employment_travis = "employment data/Travis_County.csv"
employment_williamson = "employment data/Williamson_County.csv"

# Files to Load - Wage Data
wage_hays = "wage data/hays_wages_revised.csv"
wage_travis = "wage data/travis_wages_revised.csv"
wage_williamson = "wage data/williamson_wages_revised.csv"

# Files to Load - Hays Data
hays_gross_income_percent = "hays_data/hays_gross_income_percent.csv"
hays_gross_rent = "hays_data/hays_gross_rent.csv"
hays_housing_tenure = "hays_data/hays_housing_tenure.csv"
hays_housing_value = "hays_data/hays_housing_value.csv"
hays_income_percent_with_mortgage = "hays_data/hays_income_percent_with_mortgage.csv"
hays_income_percent_without_mortgage = "hays_data/hays_income_percent_without_mortgage.csv"
hays_monthly_costs_with_mortgage = "hays_data/hays_monthly_costs_with_mortgage.csv"
hays_monthly_costs_without_mortgage = "hays_data/hays_monthly_costs_without_mortgage.csv"
hays_total_housing_units = "hays_data/hays_total_housing_units.csv"
hays_year_moved_in = "hays_data/hays_year_householder_moved_into_unit.csv"

# Files to Load - Travis Data
travis_gross_rent_percent = "Travis_County_Data/Gross Rent.csv"
travis_gross_rent = "Travis_County_Data/Gross.csv"
travis_housing_tenure = "Travis_County_Data/Housing_Tenure.csv"
travis_mortgage = "Travis_County_Data/Mortage_Status.csv"
travis_occupancy = "Travis_County_Data/Occupancy.csv"
travis_income_percent = "Travis_County_Data/Selected_Monthly_Percent.csv"
travis_housing_value = "Travis_County_Data/Values.csv"
travis_year_moved_in = "Travis_County_Data/Years_Moved_in.csv"

# Files to Load - Williamson Data
williamson_gross_rent_percent = "williamson_data/williamson_GRAPI.csv"
williamson_gross_rent = "williamson_data/williamson_gross_rent.csv"
williamson_housing = "williamson_data/williamson_housing.csv"
williamson_mortage_status = "williamson_data/williamson_mortage_status.csv"
williamson_mortgages = "williamson_data/smoc_with_mortgage.csv"
williamson_SMOCAPI = "williamson_data/williamson_SMOCAPI.csv"
williamson_tenure = "williamson_data/williamson_tenure.csv"
williamson_value = "williamson_data/williamson_value.csv"
williamson_year_built = "williamson_data/williamson_year_built.csv"

In [3]:
# Read the data
population_2007_data_df = pd.read_csv(population_2007)
population_2008_data_df = pd.read_csv(population_2008)
population_2009_data_df = pd.read_csv(population_2009)
population_2010_2016_data_df = pd.read_csv(population_2010_2016)

employment_hays_data_df = pd.read_csv(employment_hays)
employment_travis_data_df = pd.read_csv(employment_travis)
employment_williamson_data_df = pd.read_csv(employment_williamson)

wage_hays_data_df = pd.read_csv(wage_hays)
wage_travis_data_df = pd.read_csv(wage_travis)
wage_williamson_data_df = pd.read_csv(wage_williamson)

hays_gross_income_percent_data_df = pd.read_csv(hays_gross_income_percent)
hays_gross_rent_data_df = pd.read_csv(hays_gross_rent)
hays_housing_tenure_data_df = pd.read_csv(hays_housing_tenure)
hays_housing_value_data_df = pd.read_csv(hays_housing_value)
hays_income_percent_with_mortgage_data_df = pd.read_csv(hays_income_percent_with_mortgage)
hays_income_percent_without_mortgage_data_df = pd.read_csv(hays_income_percent_without_mortgage)
hays_monthly_costs_with_mortgage_data_df = pd.read_csv(hays_monthly_costs_with_mortgage)
hays_monthly_costs_without_mortgage_data_df = pd.read_csv(hays_monthly_costs_without_mortgage)
hays_total_housing_units_data_df = pd.read_csv(hays_total_housing_units)
hays_year_moved_in_data_df = pd.read_csv(hays_year_moved_in)

travis_gross_rent_percent_data_df = pd.read_csv(travis_gross_rent_percent)
travis_gross_rent_data_df = pd.read_csv(travis_gross_rent)
travis_housing_tenure_data_df = pd.read_csv(travis_housing_tenure)
travis_mortgage_data_df = pd.read_csv(travis_mortgage)
travis_occupancy_data_df = pd.read_csv(travis_occupancy)
travis_income_percent_data_df = pd.read_csv(travis_income_percent)
travis_housing_value_data_df = pd.read_csv(travis_housing_value)
travis_year_moved_in_data_df = pd.read_csv(travis_year_moved_in)


williamson_gross_rent_percent_data_df = pd.read_csv(williamson_gross_rent_percent,sep='\t')
williamson_gross_rent_data_df = pd.read_csv(williamson_gross_rent,sep='\t')
williamson_housing_data_df = pd.read_csv(williamson_housing,sep='\t')
williamson_mortage_status_data_df = pd.read_csv(williamson_mortage_status)
williamson_mortgage_df = pd.read_csv(williamson_mortgages)
williamson_SMOCAPI_data_df = pd.read_csv(williamson_SMOCAPI,sep='\t')
williamson_tenure_data_df = pd.read_csv(williamson_tenure,sep='\t')
williamson_value_data_df = pd.read_csv(williamson_value)
williamson_year_built_data_df = pd.read_csv(williamson_year_built)

In [4]:
# Data Cleaning - drop rows
williamson_mortage_status_data_drop_df = williamson_mortage_status_data_df.drop(williamson_mortage_status_data_df.index[3:])
williamson_value_data_drop_df = williamson_value_data_df.drop(williamson_value_data_df.index[10:])
williamson_year_built_data_drop_df = williamson_year_built_data_df.drop(williamson_year_built_data_df.index[3:])
williamson_mortgage_clean_df = williamson_mortgage_df.drop(williamson_mortgage_df.index[7:])

In [5]:
## NEED TO UPDATE - create dataframe & drop columns
williamson_mortage_status_data_drop_pd = pd.DataFrame(williamson_mortage_status_data_drop_df, columns=["MORTGAGE STATUS", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016"])
williamson_value_data_drop_pd = pd.DataFrame(williamson_value_data_drop_df, columns=["VALUE", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016"])
williamson_year_built_data_drop_pd = pd.DataFrame(williamson_year_built_data_drop_df, columns=["MOVE IN YEAR", "2013", "2014", "2015", "2016"])

In [6]:
williamson_year_built_data_drop_pd

             MOVE IN YEAR     2013     2014     2015     2016
0  Occupied housing units  161,887  164,805  170,987  173,125
1  Moved in 2010 or Later   61,540  136,422   89,612  103,889
2   Moved in 2000 to 2009   69,134   18,128   52,657   45,247

In [7]:
# Data Cleaning - drop NA's

hays_gross_income_percent_data_clean_df = hays_gross_income_percent_data_df.dropna(how = "any")
hays_gross_rent_data_clean_df = hays_gross_rent_data_df.dropna(how = "any")
hays_housing_tenure_data_clean_df = hays_housing_tenure_data_df.dropna(how = "any")
hays_housing_value_data_clean_df = hays_housing_value_data_df.dropna(how = "any")
hays_income_percent_with_mortgage_data_clean_df = hays_income_percent_with_mortgage_data_df.dropna(how = "any")
hays_income_percent_without_mortgage_data_clean_df = hays_income_percent_without_mortgage_data_df.dropna(how = "any")
hays_monthly_costs_with_mortgage_data_clean_df = hays_monthly_costs_with_mortgage_data_df.dropna(how = "any")
hays_monthly_costs_without_mortgage_data_clean_df = hays_monthly_costs_without_mortgage_data_df.dropna(how = "any")
hays_total_housing_units_data_clean_df = hays_total_housing_units_data_df.dropna(how = "any")
williamson_gross_rent_percent_data_clean_df = williamson_gross_rent_percent_data_df.dropna(how = "any")
williamson_gross_rent_data_clean_df = williamson_gross_rent_data_df.dropna(how = "any")
williamson_SMOCAPI_data_clean_df = williamson_SMOCAPI_data_df.dropna(how = "any")
williamson_tenure_data_clean_df = williamson_tenure_data_df.dropna(how = "any")

In [8]:
# Merge Population

In [9]:
# Merge Employment dataframes

In [10]:
# Merge Wage dataframes
wage_merge = wage_hays_data_df.append(wage_travis_data_df)
wage_merge_final = wage_merge.append(wage_williamson_data_df)
wage_merge_final

,GeoFips,GeoName,LineCode,Description,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,48209,"Hays, TX",3,Per capita personal income (dollars) 2/,32263,33820,32113,32530,34444,33792,34075,36194,38448,38912
0,48453,"Travis, TX",3,Per capita personal income (dollars) 2/,42972,45947,42529,43924,47750,52582,52938,56090,58221,58700
0,48491,"Williamson, TX",3,Per capita personal income (dollars) 2/,36963,37874,36299,36912,38308,38656,39067,41429,44036,44679

In [11]:
# Merge Employment dataframes
employment_merge = employment_hays_data_df.append(employment_travis_data_df)
employment_merge_final = employment_merge.append(employment_williamson_data_df)

In [12]:
employment_merge_final.head()

,Year,Period ID,Period,Area,Adjusted,Labor Force,Employment,Unemployment,Unemployment Rate
0,2016,0,Annual,Hays County,Not Adj,"101,898","98,498","3,400",3.3
1,2015,0,Annual,Hays County,Not Adj,"98,153","94,786","3,367",3.4
2,2014,0,Annual,Hays County,Not Adj,"93,897","89,887","4,010",4.3
3,2013,0,Annual,Hays County,Not Adj,"90,011","85,232","4,779",5.3
4,2012,0,Annual,Hays County,Not Adj,"85,818","80,810","5,008",5.8

In [13]:
population_2007_data_df_drop = population_2007_data_df.drop(population_2007_data_df.index[0])
population_2007_data_df_drop


pop_2007_final = population_2007_data_df_drop.rename(index=str, columns={"HD01_VD01": "2007"})
pop_2007_final

           GEO.id GEO.id2         GEO.display-label    2007 HD02_VD01
1  0500000US48209   48209        Hays County, Texas  141480     *****
2  0500000US48453   48453      Travis County, Texas  974365     *****
3  0500000US48491   48491  Williamson County, Texas  373363     *****

In [14]:
population_2008_data_df_drop = population_2008_data_df.drop(population_2008_data_df.index[0])
population_2008_data_df_drop

           GEO.id GEO.id2         GEO.display-label HD01_VD01 HD02_VD01
1  0500000US48209   48209        Hays County, Texas    149476     *****
2  0500000US48453   48453      Travis County, Texas    998543     *****
3  0500000US48491   48491  Williamson County, Texas    394193     *****

In [15]:
population_2009_data_df_drop = population_2009_data_df.drop(population_2009_data_df.index[0])
population_2009_data_df_drop

           GEO.id GEO.id2         GEO.display-label HD01_VD01 HD02_VD01
1  0500000US48209   48209        Hays County, Texas    155545     *****
2  0500000US48453   48453      Travis County, Texas   1026158     *****
3  0500000US48491   48491  Williamson County, Texas    410686     *****

In [16]:
#Rename 2010-2016 column headers


# Drop first row
population_2010_2016_data_df_drop = population_2010_2016_data_df.drop(population_2010_2016_data_df.index[0])
population_2010_2016_data_df_drop

,GEO.id,GEO.id2,GEO.display-label,rescen42010,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016
1,0500000US48209,48209,"Hays County, Texas",157107,157089,158241,163209,168408,176029,184951,194574,204470
2,0500000US48453,48453,"Travis County, Texas",1024266,1024478,1030569,1061858,1096122,1120948,1149668,1174818,1199323
3,0500000US48491,48491,"Williamson County, Texas",422679,422537,426415,442278,456352,470822,489143,508059,528718

In [17]:
#use previous data frames to make data
data_for_merged_housing = { "Austin Housing" : travis_occupancy_data_df["HOUSING OCCUPANCY"],
                            "Hays County 2007" : hays_total_housing_units_data_clean_df["2007"],
                           "Travis County 2007" : travis_occupancy_data_df["2007"],  
                           "Williamson County 2007" : williamson_housing_data_df["2007"],
                           "Hays County 2008" : hays_total_housing_units_data_clean_df["2008"],
                           "Travis County 2008" : travis_occupancy_data_df["2008"],  
                           "Williamson County 2008" : williamson_housing_data_df["2008"],
                           "Hays County 2009" : hays_total_housing_units_data_clean_df["2009"],
                           "Travis County 2009" : travis_occupancy_data_df["2009"],  
                           "Williamson County 2009" : williamson_housing_data_df["2009"],
                           "Hays County 2010" : hays_total_housing_units_data_clean_df["2010"],
                           "Travis County 2010" : travis_occupancy_data_df["2010"],  
                           "Williamson County 2010" : williamson_housing_data_df["2010"],
                           "Hays County 2011" : hays_total_housing_units_data_clean_df["2011"],
                           "Travis County 2011" : travis_occupancy_data_df["2011"],  
                           "Williamson County 2011" : williamson_housing_data_df["2011"],
                           "Hays County 2012" : hays_total_housing_units_data_clean_df["2012"],
                           "Travis County 2012" : travis_occupancy_data_df["2012"],  
                           "Williamson County 2012" : williamson_housing_data_df["2012"],
                           "Hays County 2013" : hays_total_housing_units_data_clean_df["2013"],
                           "Travis County 2013" : travis_occupancy_data_df["2013"],  
                           "Williamson County 2013" : williamson_housing_data_df["2013"],
                           "Hays County 2014" : hays_total_housing_units_data_clean_df["2014"],
                           "Travis County 2014" : travis_occupancy_data_df["2014"],  
                           "Williamson County 2014" : williamson_housing_data_df["2014"],
                           "Hays County 2015" : hays_total_housing_units_data_clean_df["2015"],
                           "Travis County 2015" : travis_occupancy_data_df["2015"],  
                           "Williamson County 2015" : williamson_housing_data_df["2015"],
                           "Hays County 2016" : hays_total_housing_units_data_clean_df["2016"],
                           "Travis County 2016" : travis_occupancy_data_df["2016"],  
                           "Williamson County 2016" : williamson_housing_data_df["2016"],
                           
                            
    
}

In [18]:
#make a total merged DF
total_merged_housing_df = pd.DataFrame(data_for_merged_housing)

In [19]:
total_merged_housing_df.head()

,Austin Housing,Hays County 2007,Hays County 2008,Hays County 2009,Hays County 2010,Hays County 2011,Hays County 2012,Hays County 2013,Hays County 2014,Hays County 2015,...,Williamson County 2007,Williamson County 2008,Williamson County 2009,Williamson County 2010,Williamson County 2011,Williamson County 2012,Williamson County 2013,Williamson County 2014,Williamson County 2015,Williamson County 2016
0,Total housing units,"49,386","51,266","53,176","59,747","61,833","64,338","67,307","70,729","72,977",...,"131,173","136,951","142,237","163,264","168,523","167,203","171,144","175,673","181,000","186,975"
1,Occupied housing units,"44,803","47,008","48,709","54,422","56,754","57,395","60,739","63,497","67,346",...,"121,899",93.30%,93.50%,"152,739","156,738","156,215","161,887","164,805","170,987","173,125"
2,Vacant housing units,"4,583","4,258","4,467","5,325","5,079","6,943","6,568","7,232","5,631",...,"9,274",6.70%,6.50%,"10,525","11,785","10,988","9,257","10,868","10,013","13,850"
3,Homeowner vacancy rate,1.5,1.3,1,1,1.5,2.4,1.1,3,0.9,...,2.2,1.7,1.4,1.6,1.4,2.1,2.1,0.6,1.2,1.8
4,Rental vacancy rate,5.5,3,10,2,4.7,3.7,9.2,8,7,...,4.1,6.9,8.1,7,5.5,5.2,4.6,8.2,5.3,8.6

In [20]:
#prep to make merged rent data dataframe
#dropped unneeded row for consistency
hays_gross_rent_data_clean_df = hays_gross_rent_data_clean_df.drop(hays_gross_rent_data_clean_df.index[0])
hays_gross_rent_data_clean_df

,GROSS RENT,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,Less than $200,0,30,10,389,69,99,0,0,0,898,N
2,$200 to $299,281,290,25,298,0,370,85,129,687,"12,088",N
3,$300 to $499,"2,327","1,446",828,740,669,992,561,728,831,"7,416",N
4,$500 to $749,"6,274","5,444","6,043","4,959","4,659","3,871","4,138","2,630","4,340","4,100",N
5,$750 to $999,"3,328","3,911","4,368","4,574","5,686","6,297","7,274","7,924","7,190",882,N
6,"$1,000 to $1,499","1,874","3,238","2,715","3,181","4,460","5,248","4,969","6,948","7,235",109,N
7,"$1,500 or more",322,354,"1,146",849,931,"2,521","1,761","2,112","3,640",0,N
8,No rent paid,"1,038",818,506,773,536,495,843,517,629,536,N
9,Median (dollars),667,754,778,817,847,891,910,964,960,994,"1,074"

In [21]:
hays_gross_rent_data_clean_df = hays_gross_rent_data_clean_df.reset_index()

In [22]:
#further cleaning of williamson df, drop unneeded rows
williamson_gross_rent_data_clean_df = williamson_gross_rent_data_clean_df.drop(williamson_gross_rent_data_clean_df.index[0])
williamson_gross_rent_data_clean_df = williamson_gross_rent_data_clean_df.drop(williamson_gross_rent_data_clean_df.index[3])
williamson_gross_rent_data_clean_df = williamson_gross_rent_data_clean_df.drop(williamson_gross_rent_data_clean_df.index[5])
williamson_gross_rent_data_clean_df

,GROSS RENT,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,Less than $200,197,34,189,153,129,682,18,413,0,0
2,$200 to $299,559,582,189,398,421,428,166,993,0,0
3,$300 to $499,756,685,303,"1,105",721,763,801,268,0,0
5,$500 to $749,5487,4555,5038,"9,144","8,951","7,295","5,362","4,423",0,0
6,$750 to $999,11335,11952,13221,"16,541","15,642","14,224","16,943","18,493",0,0
8,"$1,000 to $1,499",11532,12808,6829,"16,972","19,685","19,652","17,111","17,265","21,276","24,810"
9,"$1,500 or more",3056,4349,867,"6,361","5,892","7,715","7,309","10,398","32,855",0
10,No rent paid,870,"1,919",860,"1,467",626,"1,163","1,433","1,838","1,423","1,599"
11,Median (dollars),963,929,"1,002",970,998,"1,044","1,013","1,034","1,146","1,240"

In [23]:
williamson_gross_rent_data_clean_df = williamson_gross_rent_data_clean_df.reset_index()

In [24]:
#check travis df
travis_gross_rent_data_df

,GROSS RENT,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Less than $200,1997,1862,1777,1659,601,2676,1889,1950,1003,6273,8045
1,$200 to $299,1549,1530,1665,1684,2672,2027,1789,1676,2002,68144,55556
2,$300 to $499,8227,7095,5623,5851,5600,4048,4599,4709,4225,92284,94465
3,$500 to $749,56099,54854,47118,46090,45468,42619,34640,25207,21714,34184,41264
4,$750 to $999,53449,54346,56939,61615,62546,64301,59801,65435,57273,8539,10602
5,"$1,000 to $1,499",32683,34017,43332,48991,57006,61541,64609,72205,83031,2031,3419
6,"$1,500 or more",10689,11533,15102,15098,19096,22902,28961,32560,40823,2710,2711
7,No cash rent,3390,3791,871,885,3737,5308,4939,3490,4102,4264,5462
8,Median (dollars),803,816,3581,3492,918,918,981,1017,1092,1147,1191

In [25]:
#set the data for the complete merged dataframe
data_for_merged_rent_data = { "Austin Housing" : travis_gross_rent_data_df["GROSS RENT"],
                            "Hays County 2007" : hays_gross_rent_data_clean_df["2007"],
                           "Travis County 2007" : travis_gross_rent_data_df["2007"],  
                           "Williamson County 2007" : williamson_gross_rent_data_clean_df["2007"],
                           "Hays County 2008" : hays_gross_rent_data_clean_df["2008"],
                           "Travis County 2008" : travis_gross_rent_data_df["2008"],  
                           "Williamson County 2008" : williamson_gross_rent_data_clean_df["2008"],
                           "Hays County 2009" : hays_gross_rent_data_clean_df["2009"],
                           "Travis County 2009" : travis_gross_rent_data_df["2009"],  
                           "Williamson County 2009" : williamson_gross_rent_data_clean_df["2009"],
                           "Hays County 2010" : hays_gross_rent_data_clean_df["2010"],
                           "Travis County 2010" : travis_gross_rent_data_df["2010"],  
                           "Williamson County 2010" : williamson_gross_rent_data_clean_df["2010"],
                           "Hays County 2011" : hays_gross_rent_data_clean_df["2011"],
                           "Travis County 2011" : travis_gross_rent_data_df["2011"],  
                           "Williamson County 2011" : williamson_gross_rent_data_clean_df["2011"],
                           "Hays County 2012" : hays_gross_rent_data_clean_df["2012"],
                           "Travis County 2012" : travis_gross_rent_data_df["2012"],  
                           "Williamson County 2012" : williamson_gross_rent_data_clean_df["2012"],
                           "Hays County 2013" : hays_gross_rent_data_clean_df["2013"],
                           "Travis County 2013" : travis_gross_rent_data_df["2013"],  
                           "Williamson County 2013" : williamson_gross_rent_data_clean_df["2013"],
                           "Hays County 2014" : hays_gross_rent_data_clean_df["2014"],
                           "Travis County 2014" : travis_gross_rent_data_df["2014"],  
                           "Williamson County 2014" : williamson_gross_rent_data_clean_df["2014"],
                           "Hays County 2015" : hays_gross_rent_data_clean_df["2015"],
                           "Travis County 2015" : travis_gross_rent_data_df["2015"],  
                           "Williamson County 2015" : williamson_gross_rent_data_clean_df["2015"],
                           "Hays County 2016" : hays_gross_rent_data_clean_df["2016"],
                           "Travis County 2016" : travis_gross_rent_data_df["2016"],  
                           "Williamson County 2016" : williamson_gross_rent_data_clean_df["2016"],
                           
                            
    
}

In [26]:
complete_merged_rent_data_df = pd.DataFrame(data_for_merged_rent_data)

In [27]:
complete_merged_rent_data_df

,Austin Housing,Hays County 2007,Hays County 2008,Hays County 2009,Hays County 2010,Hays County 2011,Hays County 2012,Hays County 2013,Hays County 2014,Hays County 2015,...,Williamson County 2007,Williamson County 2008,Williamson County 2009,Williamson County 2010,Williamson County 2011,Williamson County 2012,Williamson County 2013,Williamson County 2014,Williamson County 2015,Williamson County 2016
0,Less than $200,30,10,389,69,99,0,0,0,898,...,197,34,189,153,129,682,18,413,0,0
1,$200 to $299,290,25,298,0,370,85,129,687,"12,088",...,559,582,189,398,421,428,166,993,0,0
2,$300 to $499,"1,446",828,740,669,992,561,728,831,"7,416",...,756,685,303,"1,105",721,763,801,268,0,0
3,$500 to $749,"5,444","6,043","4,959","4,659","3,871","4,138","2,630","4,340","4,100",...,5487,4555,5038,"9,144","8,951","7,295","5,362","4,423",0,0
4,$750 to $999,"3,911","4,368","4,574","5,686","6,297","7,274","7,924","7,190",882,...,11335,11952,13221,"16,541","15,642","14,224","16,943","18,493",0,0
5,"$1,000 to $1,499","3,238","2,715","3,181","4,460","5,248","4,969","6,948","7,235",109,...,11532,12808,6829,"16,972","19,685","19,652","17,111","17,265","21,276","24,810"
6,"$1,500 or more",354,"1,146",849,931,"2,521","1,761","2,112","3,640",0,...,3056,4349,867,"6,361","5,892","7,715","7,309","10,398","32,855",0
7,No cash rent,818,506,773,536,495,843,517,629,536,...,870,"1,919",860,"1,467",626,"1,163","1,433","1,838","1,423","1,599"
8,Median (dollars),754,778,817,847,891,910,964,960,994,...,963,929,"1,002",970,998,"1,044","1,013","1,034","1,146","1,240"

In [28]:
#prep to make a merged GRAPI dataframe
#do some extra cleaning, drop unnecessary rows
hays_gross_income_percent_data_clean_df = hays_gross_income_percent_data_clean_df.drop(hays_gross_income_percent_data_clean_df.index[0])
hays_gross_income_percent_data_clean_df = hays_gross_income_percent_data_clean_df.reset_index()
hays_gross_income_percent_data_clean_df

williamson_gross_rent_percent_data_clean_df = williamson_gross_rent_percent_data_clean_df.drop(williamson_gross_rent_percent_data_clean_df.index[0])
williamson_gross_rent_percent_data_clean_df = williamson_gross_rent_percent_data_clean_df.reset_index()
williamson_gross_rent_percent_data_clean_df

travis_gross_rent_percent_data_df = travis_gross_rent_percent_data_df.reset_index()
travis_gross_rent_percent_data_df

,index,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,0,Less than 15.0 percent,21295,20772,21071,21594,18095,19293,21561,20514,22342,25453,22198
1,1,15.0 to 19.9 percent,22719,21280,21928,23792,22731,23749,26093,24761,24298,27415,27494
2,2,20.0 to 24.9 percent,22683,22739,23952,24927,21902,28948,24038,28211,27437,30385,31533
3,3,25.0 to 29.9 percent,20316,19709,19939,21304,20230,23040,22844,26757,28288,24531,29373
4,4,30.0 to 34.9 percent,10968,14072,14583,15976,19405,18529,17106,17838,19164,19467,19132
5,5,35.0 percent or more,62404,63354,66395,70094,87062,80673,80667,82495,83157,81353,81637
6,6,Not computed,7698,7102,7269,6793,7301,11190,8918,6656,9487,9825,10157

In [29]:
#set all the GRAPI data
data_for_combined_grapi_df = { "Austin Housing" : travis_gross_rent_percent_data_df["GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME"],
                            "Hays County 2007" : hays_gross_income_percent_data_clean_df["2007"],
                           "Travis County 2007" : travis_gross_rent_percent_data_df["2007"],  
                           "Williamson County 2007" : williamson_gross_rent_percent_data_clean_df["2007"],
                           "Hays County 2008" : hays_gross_income_percent_data_clean_df["2008"],
                           "Travis County 2008" : travis_gross_rent_percent_data_df["2008"],  
                           "Williamson County 2008" : williamson_gross_rent_percent_data_clean_df["2008"],
                           "Hays County 2009" : hays_gross_income_percent_data_clean_df["2009"],
                           "Travis County 2009" : travis_gross_rent_percent_data_df["2009"],  
                           "Williamson County 2009" : williamson_gross_rent_percent_data_clean_df["2009"],
                           "Hays County 2010" : hays_gross_income_percent_data_clean_df["2010"],
                           "Travis County 2010" : travis_gross_rent_percent_data_df["2010"],  
                           "Williamson County 2010" : williamson_gross_rent_percent_data_clean_df["2010"],
                           "Hays County 2011" : hays_gross_income_percent_data_clean_df["2011"],
                           "Travis County 2011" : travis_gross_rent_percent_data_df["2011"],  
                           "Williamson County 2011" : williamson_gross_rent_percent_data_clean_df["2011"],
                           "Hays County 2012" : hays_gross_income_percent_data_clean_df["2012"],
                           "Travis County 2012" : travis_gross_rent_percent_data_df["2012"],  
                           "Williamson County 2012" : williamson_gross_rent_percent_data_clean_df["2012"],
                           "Hays County 2013" : hays_gross_income_percent_data_clean_df["2013"],
                           "Travis County 2013" : travis_gross_rent_percent_data_df["2013"],  
                           "Williamson County 2013" : williamson_gross_rent_percent_data_clean_df["2013"],
                           "Hays County 2014" : hays_gross_income_percent_data_clean_df["2014"],
                           "Travis County 2014" : travis_gross_rent_percent_data_df["2014"],  
                           "Williamson County 2014" : williamson_gross_rent_percent_data_clean_df["2014"],
                           "Hays County 2015" : hays_gross_income_percent_data_clean_df["2015"],
                           "Travis County 2015" : travis_gross_rent_percent_data_df["2015"],  
                           "Williamson County 2015" : williamson_gross_rent_percent_data_clean_df["2015"],
                           "Hays County 2016" : hays_gross_income_percent_data_clean_df["2016"],
                           "Travis County 2016" : travis_gross_rent_percent_data_df["2016"],  
                           "Williamson County 2016" : williamson_gross_rent_percent_data_clean_df["2016"],
                           
                            
    
}

In [30]:
#completed GRAPI combined DF
combined_grapi_df = pd.DataFrame(data_for_combined_grapi_df)
combined_grapi_df

,Austin Housing,Hays County 2007,Hays County 2008,Hays County 2009,Hays County 2010,Hays County 2011,Hays County 2012,Hays County 2013,Hays County 2014,Hays County 2015,...,Williamson County 2007,Williamson County 2008,Williamson County 2009,Williamson County 2010,Williamson County 2011,Williamson County 2012,Williamson County 2013,Williamson County 2014,Williamson County 2015,Williamson County 2016
0,Less than 15.0 percent,"1,412","1,379","1,400",848,"1,776",965,"1,623","2,225","3,339",...,4005,3793,4468,"5,94","4,428","7,203","5,519","6,132","4,386","6,545"
1,15.0 to 19.9 percent,"1,588","1,688","1,105","1,415",891,"1,894","2,396","2,332",968,...,4624,5536,4581,"7,828","8,098","7,633","5,782","6,329","8,97","7,39"
2,20.0 to 24.9 percent,"1,331","1,750","1,532","1,939",951,"1,181","1,124","1,653","2,763",...,5145,5502,7021,"7,425","8,742","7,381","6,763","7,653","7,17","9,008"
3,25.0 to 29.9 percent,"1,750","1,702","1,345","1,828","2,449","1,742","1,536","1,712","2,463",...,3908,4852,3755,"7,791","6,789","7,948","6,036","7,638","7,948","6,373"
4,30.0 to 34.9 percent,"1,331","1,288",550,925,"2,324","2,026","1,769","2,427","3,555",...,3093,3349,4994,"5,002","4,97","4,309","5,708","4,344","4,262","6,887"
5,35.0 percent or more,"6,838","7,095","8,390","8,699","10,338","10,632","11,700","12,502","10,997",...,11788,11140,12728,"16,037","18,055","15,945","17,033","19,463","16,683","16,907"
6,Not computed,"1,281",739,"1,441",1356,1164,"1,191",840,"1,701","1,944",...,"1,162","1,995","1,196","2,118",98,"1,503","2,302","2,532","2,193","2,378"

In [31]:
#prep data for housing tenure
#all the dataframes were cleaned in the source to make them consistent
williamson_tenure_data_clean_df
hays_housing_tenure_data_clean_df
travis_housing_tenure_data_df
None

In [32]:
#input all the data for the dataframe
data_for_merged_housing_tenure = { "Austin Housing" : travis_housing_tenure_data_df["HOUSING TENURE"],
                            "Hays County 2007" : hays_housing_tenure_data_clean_df["2007"],
                           "Travis County 2007" : travis_housing_tenure_data_df["2007"],  
                           "Williamson County 2007" : williamson_tenure_data_clean_df["2007"],
                           "Hays County 2008" : hays_housing_tenure_data_clean_df["2008"],
                           "Travis County 2008" : travis_housing_tenure_data_df["2008"],  
                           "Williamson County 2008" : williamson_tenure_data_clean_df["2008"],
                           "Hays County 2009" : hays_housing_tenure_data_clean_df["2009"],
                           "Travis County 2009" : travis_housing_tenure_data_df["2009"],  
                           "Williamson County 2009" : williamson_tenure_data_clean_df["2009"],
                           "Hays County 2010" : hays_housing_tenure_data_clean_df["2010"],
                           "Travis County 2010" : travis_housing_tenure_data_df["2010"],  
                           "Williamson County 2010" : williamson_tenure_data_clean_df["2010"],
                           "Hays County 2011" : hays_housing_tenure_data_clean_df["2011"],
                           "Travis County 2011" : travis_housing_tenure_data_df["2011"],  
                           "Williamson County 2011" : williamson_tenure_data_clean_df["2011"],
                           "Hays County 2012" : hays_housing_tenure_data_clean_df["2012"],
                           "Travis County 2012" : travis_housing_tenure_data_df["2012"],  
                           "Williamson County 2012" : williamson_tenure_data_clean_df["2012"],
                           "Hays County 2013" : hays_housing_tenure_data_clean_df["2013"],
                           "Travis County 2013" : travis_housing_tenure_data_df["2013"],  
                           "Williamson County 2013" : williamson_tenure_data_clean_df["2013"],
                           "Hays County 2014" : hays_housing_tenure_data_clean_df["2014"],
                           "Travis County 2014" : travis_housing_tenure_data_df["2014"],  
                           "Williamson County 2014" : williamson_tenure_data_clean_df["2014"],
                           "Hays County 2015" : hays_housing_tenure_data_clean_df["2015"],
                           "Travis County 2015" : travis_housing_tenure_data_df["2015"],  
                           "Williamson County 2015" : williamson_tenure_data_clean_df["2015"],
                           "Hays County 2016" : hays_housing_tenure_data_clean_df["2016"],
                           "Travis County 2016" : travis_housing_tenure_data_df["2016"],  
                           "Williamson County 2016" : williamson_tenure_data_clean_df["2016"],
                           
                            
    
}

In [33]:
#complete the dataframe
complete_merged_housing_tenure_df = pd.DataFrame(data_for_merged_housing_tenure)
complete_merged_housing_tenure_df

,Austin Housing,Hays County 2007,Hays County 2008,Hays County 2009,Hays County 2010,Hays County 2011,Hays County 2012,Hays County 2013,Hays County 2014,Hays County 2015,...,Williamson County 2007,Williamson County 2008,Williamson County 2009,Williamson County 2010,Williamson County 2011,Williamson County 2012,Williamson County 2013,Williamson County 2014,Williamson County 2015,Williamson County 2016
0,Occupied housing units,"44,803","47,008","48,709","54,422","56,754","57,395","60,739","63,497","67,346",...,"121,899","127,791","132,981","152,739","156,738","156,215","161,887","164,805","170,987","173,125"
1,Owner-occupied,"29,272","31,367","32,946","37,412","36,861","37,764","39,751","38,945","41,317",...,88133,91626,94284,"100,598","104,671","104,293","112,744","110,714","119,375","117,637"
2,Renter-occupied,"15,531","15,641","15,763","17,010","19,893","19,631","20,988","24,552","26,029",...,"33,766","36,165","38,697","52,141","52,067","51,922","49,143","54,091","51,612","55,488"

In [34]:
#collected all the data for the merged SMOC dataframe
data_for_merged_smoc = { "Austin Housing" : williamson_mortgage_clean_df["SELECTED MONTHLY OWNER COSTS (SMOC)"],
                            "Hays County 2007" : hays_monthly_costs_with_mortgage_data_clean_df["2007"],
                           "Travis County 2007" : travis_mortgage_data_df["2007"],  
                           "Williamson County 2007" : williamson_mortgage_clean_df["2007"],
                           "Hays County 2008" : hays_monthly_costs_with_mortgage_data_clean_df["2008"],
                           "Travis County 2008" : travis_mortgage_data_df["2008"],  
                           "Williamson County 2008" : williamson_mortgage_clean_df["2008"],
                           "Hays County 2009" : hays_monthly_costs_with_mortgage_data_clean_df["2009"],
                           "Travis County 2009" : travis_mortgage_data_df["2009"],  
                           "Williamson County 2009" : williamson_mortgage_clean_df["2009"],
                           "Hays County 2010" : hays_monthly_costs_with_mortgage_data_clean_df["2010"],
                           "Travis County 2010" : travis_mortgage_data_df["2010"],  
                           "Williamson County 2010" : williamson_mortgage_clean_df["2010"],
                           "Hays County 2011" : hays_monthly_costs_with_mortgage_data_clean_df["2011"],
                           "Travis County 2011" : travis_mortgage_data_df["2011"],  
                           "Williamson County 2011" : williamson_mortgage_clean_df["2011"],
                           "Hays County 2012" : hays_monthly_costs_with_mortgage_data_clean_df["2012"],
                           "Travis County 2012" : travis_mortgage_data_df["2012"],  
                           "Williamson County 2012" : williamson_mortgage_clean_df["2012"],
                           "Hays County 2013" : hays_monthly_costs_with_mortgage_data_clean_df["2013"],
                           "Travis County 2013" : travis_mortgage_data_df["2013"],  
                           "Williamson County 2013" : williamson_mortgage_clean_df["2013"],
                           "Hays County 2014" : hays_monthly_costs_with_mortgage_data_clean_df["2014"],
                           "Travis County 2014" : travis_mortgage_data_df["2014"],  
                           "Williamson County 2014" : williamson_mortgage_clean_df["2014"],
                           "Hays County 2015" : hays_monthly_costs_with_mortgage_data_clean_df["2015"],
                           "Travis County 2015" : travis_mortgage_data_df["2015"],  
                           "Williamson County 2015" : williamson_mortgage_clean_df["2015"],
                           "Hays County 2016" : hays_monthly_costs_with_mortgage_data_clean_df["2016"],
                           "Travis County 2016" : travis_mortgage_data_df["2016"],  
                           "Williamson County 2016" : williamson_mortgage_clean_df["2016"],
                           
                            
    
}

In [35]:
completed_merged_smoc_df = pd.DataFrame(data_for_merged_smoc)
completed_merged_smoc_df

,Austin Housing,Hays County 2007,Hays County 2008,Hays County 2009,Hays County 2010,Hays County 2011,Hays County 2012,Hays County 2013,Hays County 2014,Hays County 2015,...,Williamson County 2007,Williamson County 2008,Williamson County 2009,Williamson County 2010,Williamson County 2011,Williamson County 2012,Williamson County 2013,Williamson County 2014,Williamson County 2015,Williamson County 2016
0,Housing units with a mortgage,"20,947","22,107","24,425","27,063","27,404","28,555","27,811","27,216","28,943",...,"67,646",70176,"74,115","79,934","80,318","80,830","82,526","80,534","86,936","87,071"
1,Less than $500,139,271,332,294,96,51,655,268,73,...,319,409,378,499,394,297,1308,1156,493,106
2,$500 to $999,2260,2283,2167,3589,5947,3062,2689,3750,3406,...,5970,5701,5729,6034,7335,6810,"7,003","6,287","5,192","6,148"
3,"$1,000 to $1,499","8,604","7,399","9,808","9,107","8,765","10,693","10,154","8,126",8669,...,"25,157","23,247","25,859","27,209","26,638","28,615","29,006","27,652","28,518","24,479"
4,"$1,500 to $1,999","5,400","6,346","5,975","6,963","5,147","7,034","7,539","7,914",8162,...,"20,153","23,204","23,923","25,597","22,632","25,270","26,817","23,770","26,355","26,599"
5,$2000 or more,"4,544","5,808","6,143","7,110","7,449","7,715","6,774","7,158",8635,...,"16,047","17,615","18,226","20,595","23,319","19,838","18,392",21669,"26,378","29,739"
6,Median (dollars),"1,473","1,567","1,496","1,531","1,440","1,536","1,526","1,570","1,601",...,"1,553","1,605","1,588","1,600","1,612","1,581","1,566","1,602","1,646","1,702"

In [39]:
#gather all the data for housing values
#prep it for making a dataframe
data_for_housing_value_df = { "Austin Housing" : hays_housing_value_data_clean_df["VALUE"],
                            "Hays County 2007" : hays_housing_value_data_clean_df["2007"],
                           "Travis County 2007" : travis_housing_value_data_df["2007"],  
                           "Williamson County 2007" : williamson_value_data_drop_pd["2007"],
                           "Hays County 2008" : hays_housing_value_data_clean_df["2008"],
                           "Travis County 2008" : travis_housing_value_data_df["2008"],  
                           "Williamson County 2008" : williamson_value_data_drop_pd["2008"],
                           "Hays County 2009" : hays_housing_value_data_clean_df["2009"],
                           "Travis County 2009" : travis_housing_value_data_df["2009"],  
                           "Williamson County 2009" : williamson_value_data_drop_pd["2009"],
                           "Hays County 2010" : hays_housing_value_data_clean_df["2010"],
                           "Travis County 2010" : travis_housing_value_data_df["2010"],  
                           "Williamson County 2010" : williamson_value_data_drop_pd["2010"],
                           "Hays County 2011" : hays_housing_value_data_clean_df["2011"],
                           "Travis County 2011" : travis_housing_value_data_df["2011"],  
                           "Williamson County 2011" : williamson_value_data_drop_pd["2011"],
                           "Hays County 2012" : hays_housing_value_data_clean_df["2012"],
                           "Travis County 2012" : travis_housing_value_data_df["2012"],  
                           "Williamson County 2012" : williamson_value_data_drop_pd["2012"],
                           "Hays County 2013" : hays_housing_value_data_clean_df["2013"],
                           "Travis County 2013" : travis_housing_value_data_df["2013"],  
                           "Williamson County 2013" : williamson_value_data_drop_pd["2013"],
                           "Hays County 2014" : hays_housing_value_data_clean_df["2014"],
                           "Travis County 2014" : travis_housing_value_data_df["2014"],  
                           "Williamson County 2014" : williamson_value_data_drop_pd["2014"],
                           "Hays County 2015" : hays_housing_value_data_clean_df["2015"],
                           "Travis County 2015" : travis_housing_value_data_df["2015"],  
                           "Williamson County 2015" : williamson_value_data_drop_pd["2015"],
                           "Hays County 2016" : hays_housing_value_data_clean_df["2016"],
                           "Travis County 2016" : travis_housing_value_data_df["2016"],  
                           "Williamson County 2016" : williamson_value_data_drop_pd["2016"],
                           
                            
    
}

In [41]:
#make a completed data frame
completed_housing_value_df = pd.DataFrame(data_for_housing_value_df)
completed_housing_value_df

,Austin Housing,Hays County 2007,Hays County 2008,Hays County 2009,Hays County 2010,Hays County 2011,Hays County 2012,Hays County 2013,Hays County 2014,Hays County 2015,...,Williamson County 2007,Williamson County 2008,Williamson County 2009,Williamson County 2010,Williamson County 2011,Williamson County 2012,Williamson County 2013,Williamson County 2014,Williamson County 2015,Williamson County 2016
0,"Less than $50,000","1,062","2,161","2,037","2,798","3,161","1,890","2,824","2,761","1,763",...,2.00%,2.80%,2.90%,"3,893","3,541","3,281","5,114","3,525","2,079","4,183"
1,"$50,000 to $99,999","3,320","3,454","3,141","3,480","4,623","3,561","4,083","4,517","3,568",...,6.90%,6.60%,6.70%,"5,020","6,056","5,492","5,593","4,257","4,461","3,354"
2,"$100,000 to $149,999","6,025","7,137","7,456","6,731","8,187","8,340","7,196","5,834","5,492",...,28.40%,22.60%,24.00%,"25,226","24,827","24,574","24,154","16,800","13,429","10,088"
3,"$150,000 to $199,999","6,552","6,256","7,051","9,435","7,831","7,780","6,717","8,985","9,395",...,28.40%,28.40%,27.10%,"26,508","28,556","27,683","26,892","25,324","26,434","19,907"
4,"$200,000 to $299,999","6,124","5,851","5,792","7,197","6,447","7,208","10,254","7,926","9,328",...,22.50%,24.90%,25.60%,"26,565","26,446","30,458","31,215","36,233","41,354","42,681"
5,"$300,000 to $499,999","4,692","4,852","4,911","5,598","5,432","6,930","6,237","6,478","8,889",...,10.30%,12.30%,10.60%,"11,277","13,437","10,685","16,979","21,087","25,538","31,510"
6,"$500,000 to $999,999","1,103","1,314","1,489","1,784","1,133","1,595","1,810","2,126","2,465",...,1.10%,2.00%,2.70%,"1,891","1,632","1,797","2,202","2,863","5,391","5,423"
7,"$1,000,000 or more",394,342,"1,069",389,47,460,630,318,417,...,0.30%,0.40%,0.50%,218,176,323,595,625,689,491
8,Median (dollars),"174,600","170,200","172,600","178,500","162,300","178,900","191,400","183,400","203,900",...,"176,700","178,400","175,300","175,100","176,500","179,600","187,900","212,300","227,000","242,000"